@import "../variables.scss";
@mixin button {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 20%;
  color: white;
  cursor: pointer;
  border: 0;
}
.red {
  @include button;
  background: linear-gradient($red_top, $red_bot);
  box-shadow: 0 1px 7px $red-top;
}
.green {
  @include button;
  background: linear-gradient($green_top, $green_bot);
  box-shadow: 0 1px 7px $green-top;
}
.green_big {
  @include button;
  background: linear-gradient($green_top, $green_bot);
  box-shadow: 0 1px 9px 1px $green-top;
  border: 4px solid rgba(255, 255, 255, 0.85);
}
.symbol {
  font-size: 200%;
  line-height: 50%;
  margin-top: -10px;
}
