@import "../variables.scss";

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  background: rgba(155, 155, 155, 0.5);
}
.form {
  position: relative;
  top: 40vh;
  left: 40vw;
  width: 20vw;
  height: 20vh;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 10px 5px $text_color;
  border-radius: $border_radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  @media screen and (max-width: 1000px) {
    width: 40vw;
    left: 30vw;
  }

  @media screen and (max-width: 500px) {
    width: 60vw;
    left: 20vw;
  }
  @media screen and (max-width: 3000px) {
    width: 80vw;
    left: 10vw;
  }
  label {
    width: 90%;
    color: $text_color;
    font-weight: 900;
    text-align: center;
    margin: 1vh 1vw;
  }
  input {
    background: none;
    border: 2px solid $text_color;
    color: $text_color;
    font-weight: 700;
    border-radius: $border_radius;
    height: 4vh;
    width: 90%;
    line-height: 4vh;
    margin: 0 1vw;
  }
  button {
    background: none;
    color: $text_color;
    font-weight: 800;
    border: 2px solid $text_color;
    border-radius: 100%;
    width: 5vh;
    height: 5vh;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
}
.cancel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(1vh + 1vw);
  right: calc(1vh + 1vw);
  width: calc(2vh + 2vw);
  height: calc(2vh + 2vw);
  background: none;
  border: 2px solid $text_color;
  cursor: pointer;
  span {
    font-size: calc(2vh + 2vw);
    transform: rotate(45deg);
    color: $text_color;
  }
}
