@import "variables";

@mixin linebox {
  width: $line_width;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin line {
  width: 100%;
  background: $gray;
  height: 0.5px;
}
@mixin contents {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  box-shadow: 2px 2px 7px 5px $blue_shadow;
  border-radius: $border_radius;
}
@mixin prefix {
  color: $gray;
  position: absolute;
  transform: translateX(-100%);
  padding-right: 1em;
  @media screen and (max-width: 400px) {
    padding-right: 0.5em;
  }
}
@mixin gradient {
  position: absolute;
  background: linear-gradient($purple, $blue);
  height: 100%;
  width: 10px;
  border-radius: $border_radius 0 0 $border_radius;
}
