$purple: #a375f3;
$blue: #7176f6;
$blue_shadow: #efeff9;
$red-top: #f76e94;
$red-bot: #f24c67;
$green_top: #89f29f;
$green_bot: #28e7e7;
$gray: #c9cdd7;
$text_color: #4b597b;

$border_radius: 5px;

//SPACING
$space_left: 6vw;
$inner_space_left: 3vw;
$line_width: calc(2vw + 4vh);

//BUTTON SIZES
$button_small: 3vh;
$button_med: 4vh;
$button_big: 5vh;
